WEBHOOK_URL = "https://yourwebsite.com"
WEBHOOK_PATH = "/"
WEBHOOK_LISTEN = "0.0.0.0"
WEBHOOK_PORT = 5000

BOT_API_KEYS = ""
BOT_API_KEY = ""
BOT_VERSION = ""
OWNER_ID =
SUDO_USERS =
LOG_EVENT =
LOG_BAN =
MAIN_GRP =
IS_DEBUG = true
CLEAN_POLLING = false

DATABASE_URL = ""
REDIS_ADDRESS = "localhost:6379"
REDIS_PASSWORD = ""